.btn {
	margin-bottom: 10px;
}

div.col-md-8 .btn {
	margin: 15px;
}

@media screen and (max-width: 600px) {
	div.col-md-4.col-sm-3 .btn,
	div.col-md-8 .btn {
		margin-left: 15px;
		white-space: normal;
	}
	div.col-md-8 {
		margin: 15px;
		max-width: max-content;
		padding: 0;
	}
}

@media screen and (min-width: 200px) and (max-width: 700px) {
	div.col-md-4.col-sm-2 .btn {
		margin-left: 15px;
	}

	.button-row-screen-resize > * {
		display: block !important;
	}
}

.form-heading {
	margin: 30px 0;
	text-align: center;
	display: inline-block;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
	font-weight: 600;
	text-align: center;
	letter-spacing: 0;
	padding: 15px;
	margin-right: 1rem;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
}
